<div class="jumbotron">
  <h1>Unite Map powered by UN Vector Tile Toolkit.</h1>
  <p class="lead">This server is build based on nodejs/express. Microsoft msal module is used for Azure AD authentication, and Mapbox mbtiles module is used for vector tile delivery from mbtiles.</p>
  <p class="lead">The United Nations Vector Tile Toolkit (UNVT) is a collection of Open Source Software (OSS) to produce, host, style and optimize vector tiles for web mapping.</p>
  {{#if user}}
    <h4>Welcome {{ user.displayName }}!</h4>
    <p><h5>What's new?</h5>
       2021-12-29: This server has upgraded nodejs and related modules. (Only some part available)<br>
       2021-12-29 :  The contents are now under "unvt" directory.<br>
<p>
<h4><a href="https://dev-geoportal.dfs.un.org/arcgis/home/item.html?id=92bd3a6ae733423aab9be1e0b795c4bd">Map in Geoportal (Dev) -please login to the geoportal as well.</a></h4><br>
<h4><a href="https://dev-geoportal.dfs.un.org/arcgis/home/item.html?id=52bb837bda57455abf8e0d9ae84acee6">Map in Geoportal (Dev) road improved-please login to the geoportal as well.</a></h4>



<h4>Map APP in our page</h4>


<ol>
<li><a href="./webmap">Web Map APP (Testing)</a> - with several function</li>
<li><a href="map">Map APP (building 3D) -production source</a> with Mapbox-gl.js version 1</li>
<li><a href="./clearmap-plain0820.html">Test Clear Map Vector (PROD source - label 0820) - Plain</a> </li>
<li><a href="./clearmap-dark0820.html">Test Clear Map Vector (PROD source - label 0820) - Dark</a> </li>
<li><a href="./clearmap-gray0820.html">Test Clear Map Vector (PROD source - label 0820) - Gray</a> </li>
<ol>

Tile URL:<br>
<ol>
<li>https://dev-unvt.dfs.un.org/unvt/VT/zxy/UniteStreetMapVector/{z}/{x}/{y}.pbf</li>
<li>https://dev-unvt.dfs.un.org/unvt/VT/zxy/UniteStreetMapVector/{z}/{x}/{y}.pbf</li>
</ol>

Style URL:<br>

<ol>
<li>https://dev-unvt.dfs.un.org/styles/style-prod.json </li>
<li>https://dev-unvt.dfs.un.org/styles/clearmap-plain-pro0820.json </li>
<li>https://dev-unvt.dfs.un.org/styles/clearmap-dark-pro0820.json </li>
<li>https://dev-unvt.dfs.un.org/styles/clearmap-gray-pro0820.json </li>
</ol>

ESRI interface URL:<br>
<ol>
<li>https://dev-unvt.dfs.un.org/unvt/esriIF/UniteStreetMapVector/VectorTileServer</li>
</ol>

</p>



  {{else}}
    <a href="auth/signin" class="btn btn-primary btn-large">Click here to sign in</a>
  {{/if}}
</div>

