<div class="jumbotron">
  <h1>Unite Map powered by UN Vector Tile Toolkit.</h1>
  <p class="lead">This server is build based on nodejs/express. Microsoft msal module is used for Azure AD authentication, and Mapbox mbtiles module is used for vector tile delivery from mbtiles.</p>
  <p class="lead">The United Nations Vector Tile Toolkit (UNVT) is a collection of Open Source Software (OSS) to produce, host, style and optimize vector tiles for web mapping.</p>
  {{#if user}}
    <h4>Welcome {{ user.displayName }}!</h4>


<h4>Map in Geoportal (Dev)</a></h4>
<ol>
<li><a href="">Link to the Geoportal (Please revise)</a>. please login to the geoportal as well.</li>
</ol>



<h4>Map APP in our page</h4>
<ol>
<li><a href="map">Simple Web Map APP (building 3D) </a> with Mapbox-gl.js version 1</li>
<li><a href="map-l">Simple Web Map APP (building 3D)</a> with MapLibre-gl.js version 2.4.0</li>
<li><a href="./webmap">Web Map APP (Testing)</a> - with several Mapbox plugins</li>
<li><a href="./webmap-l">Web Map APP (Testing)</a> - with several MapLibre plugins</li>
</ol>


ESRI interface URL:<br>
<ol>
<li>https://dev-unvt.dfs.un.org/unvt/esriIF/ne-test/VectorTileServer</li>
</ol>





  {{else}}
    <a href="auth/signin" class="btn btn-primary btn-large">Click here to sign in</a>
  {{/if}}
</div>

