<div class="jumbotron">
  <h1>Unite Map powered by UN Vector Tile Toolkit.</h1>
  <p class="lead">This server is build based on nodejs/express. Microsoft msal module is used for Azure AD authentication, and Mapbox mbtiles module is used for vector tile delivery from mbtiles.</p>
  <p class="lead">The United Nations Vector Tile Toolkit (UNVT) is a collection of Open Source Software (OSS) to produce, host, style and optimize vector tiles for web mapping.</p>
  {{#if user}}
    <h4>Welcome {{ user.displayName }}!</h4>
    <p><h5>What's new?</h5>
       2021-12-29: This server has upgraded nodejs and related modules.<br>
              2021-12-29 :  The contents are now under "unvt" directory.<br>
<p>
<h4>Map APP</h4>
<h5><a href="map">map </a></h5>
with Mapbox-gl.js version 1<br>
Tile URL:<br>
<ol>
<li>un-large https://XXX/VT/zxy/un-z5/{z}/{x}/{y}.pbf </li>
<li>osm-large https://XXX/vtile-m/zxy/osm-z456/{z}/{x}/{y}.pbf </li>
</ol>

</p>



  {{else}}
    <a href="auth/signin" class="btn btn-primary btn-large">Click here to sign in</a>
  {{/if}}
</div>

